<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fullmetalfalcons.androidscouting" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ScoutingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.ScoutingActivity"
            android:theme="@style/BlueTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.ScoutingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.RetrieveDataActivity"
            android:label="Retrieve Team Data"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.DisplayDataActivity"
            android:label="Team Data"
            android:parentActivityName=".activities.RetrieveDataActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
